@use "../../styles/variables" as *;

.dropdown {
  &--hide-label {
    .dropdown__label {
      visibility: hidden;
      position: absolute;
    }
  }

  .dropdown__select,
  .dropdown__option {
    background-color: $color-text;
    color: $color-text-variant;
  }
}
