// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$color-background: #121212;
$color-surface: #1e1e1e;

$color-primary: #bb86fc;
$color-primary-variant: #3700b3;
$color-secondary: #03dac6;
$color-error: #cf6679;

$color-text: #ffffff;
$color-text-variant: #000000;
