@use "../../styles/variables" as *;

.layout {
  height: 100vh;
  width: 100vw;
  background-color: $color-surface;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .layout__main {
    padding: 1rem;
    width: 100%;
    max-width: 25rem;
  }
}
