@use "../../styles/variables" as *;

.input-field {
  max-width: 5rem;

  &--hide-label {
    .input-field__label {
      visibility: hidden;
      position: absolute;
    }
  }

  .input-field__input {
    width: 100%;
    color: $color-text-variant;
  }
}
