@use "../../styles/variables" as *;

.input-field {
  max-width: 5rem;

  &--hide-label {
    .input-field__label {
      visibility: hidden;
      position: absolute;
    }
  }

  .input-field__input {
    width: 100%;
    background-color: $color-text;
    color: $color-text-variant;
    border: none;
    padding: 0.05rem 0.1rem;
  }
}
